* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: white;
}

.header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.header > nav > img {
  width: 50px;
}

.header > nav > span {
  font-size: 2rem;
  font-weight: 400;
}